.member-icons {
    position: absolute;
    bottom: -10%;
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
    opacity: 0;
}

area:hover .member-icons {
    bottom: 0;
    opacity: 1;
}

.panel:hover .member-icons {
    bottom: 0;
    opacity: 1;
}

img {
    max-height: 500px;
    max-width: 90%;
}

.animate {
    transition: all 0.3s ease-in-out;
}

@media (max-width: 768px) {
    .btn {
        padding: 2px 4px;
        font-size: 80%;
        line-height: 1;
    }
}