<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" type="text/css" href="./assets/style.css">
        <meta charset="UTF-8">
        <title>Title</title>
    </head>
    <body>
        <div id="main-header" class="header">
            <div class="logo">
                <a href="/">
                    <img src=./assets/logo.png />
                </a>
            </div>
        </div>
        <div>
            <Menu>
                <a id="home" class="menu-item" href="/">Home</a>
                <a id="about" class="menu-item" href="/about">About</a>
                <a id="contact" class="menu-item" href="/contact">Contact</a>
            </Menu>
        </div>
        <div>
            <form method="post" action="" class="login-form">
                <div class="errorArea" id="errorArea">
                </div>
                <div class="form-group">
                    <input type="text" required class="form-control" name="email" placeholder="Email"/>
                </div>
                <div class="form-group">
                    <input type="password" id="password" class="form-control" name="password" placeholder="Password"/>
                </div>
                    <!--<input type="submit" name="login" value="Login">-->
                    <button type="submit" class="log-btn btn" onclick="Validation()"><span>Login</span></button>
                <div>
                    <span>New to this web site?</span><a class="link" href="#"> Create an Account</a>
                </div>
            </form>
        </div>
        <script>
            function Validation() {
                var inpObj = document.getElementById("password");
                if (inpObj.checkValidity() == false) {
                    document.getElementById("errorArea").innerHTML = inpObj.validationMessage;
                } else {
                    document.getElementById("errorArea").innerHTML = "Input OK";
                }
            }
        </script>
    </body>
</html>