<!DOCTYPE html>
<html>
<head>

    <meta name="viewport" content="minimum-scale=1.0, width=device-width, maximum-scale=1.0, user-scalable=no"/>
    <meta charset="utf-8">

    <title>Pulito - Sign In</title>

</head>
<body>

    <form method="post">
        <input type="email" id="email" name="email" placeholder="Type your e-mail" required />
        <input type="password" id="pwd" name="pwd" placeholder="Type your password" required />
        <input type="submit" value="Sign In" id="btSignin" name="btSignin">
    </form>

</body>
</html>